/* General body styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    background: rgba(128, 0, 0, 0.66);
}

/* Container styling */
.container {
    width: 100%;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

/* Heading styling */
.container h1 {
    color: #ffffff;
}

/* Section styling for QR scanner */
.section {
    background-color: #ffffff;
    padding: 20px;
    border: 1.5px solid #b2b2b2;
    border-radius: 0.25em;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

/* QR reader styling */
#my-qr-reader {
    padding: 10px;
    border: 1.5px solid #b2b2b2;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Hide unnecessary icons */
#my-qr-reader img[alt="Info icon"] {
    display: none;
}

/* Camera switch button styling */
button {
    padding: 10px 20px;
    border: 1px solid #b2b2b2;
    outline: none;
    border-radius: 0.25em;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: rgba(0, 128, 0, 0.68);
    transition: 0.3s background-color;
}

/* Button hover effect */
button:hover {
    background-color: #008000;
}

/* Hide scan image file option if it exists */
#html5-qrcode-anchor-scan-type-change {
    display: none !important;
}


/* Video element styling */
video {
    width: 100% !important;
    border: 1px solid #b2b2b2 !important;
    border-radius: 0.25em;
    box-sizing: border-box;
}

/* Responsive adjustments for mobile screens */
@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .section {
        padding: 15px;
        box-shadow: none;
        border: none;
    }

    #my-qr-reader {
        padding: 5px;
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    button {
        padding: 8px 15px;
        font-size: 14px;
        margin: 5px 0;
    }
}

/* Hide scan image file option */
#my-qr-reader__dashboard_section_swaplink a {
    display: none !important;
}

/* Hide github url of the Scanner library */
#my-qr-reader a {
    display: none !important;
}

#qr-shaded-region {
    display: none;
}